# -----------------------------
# Python
# -----------------------------
venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# -----------------------------
# Environment
# -----------------------------
.env
.env.*

# -----------------------------
# React / Node
# -----------------------------
node_modules/
dist/
build/
coverage/

# -----------------------------
# Logs
# -----------------------------
*.log
logs/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Terraform
# -----------------------------
.terraform/
*.tfstate
*.tfstate.*

# -----------------------------
# Kubernetes Secrets
# -----------------------------
secrets.yaml

# -----------------------------
# GitHub Actions Runner
# -----------------------------
actions-runner/

# -----------------------------
# SonarQube
# -----------------------------
sonar/.sonarqube/

# -----------------------------
# Coverage
# -----------------------------
.coverage
coverage.xml
htmlcov/

# -----------------------------
# Sonar Scanner
# -----------------------------
.scannerwork/

